{{search-box searchAction="search"}}

<section class="emoji-tiles">
  {{#each emojiResults as |emoji|}}
    <div class="emoji">
      <div class="emoji-char">{{emoji.char}}</div>
      <div class="emoji-name">{{emoji.formattedName}}</div>
    </div>
  {{else}}
    No Emoji Found.
  {{/each}}
</section>