{{search-box query=query searchAction="search"}}

<section class="emoji-tiles">
  {{#each emojiResults as |emoji|}}
    {{#emoji-tile emoji=emoji classNames="emoji" as |model|}}
      <div class="emoji-char">{{model.char}}</div>
      <div class="emoji-name">{{model.formattedName}}</div>
      <div class="emoji-copy">Click to Copy</div>
    {{/emoji-tile}}
  {{else}}
    No Emoji Found.
  {{/each}}
</section>