$emoji-font-size: 6rem;

.emoji {
  @include card(2);
  @include span(4);
  padding: 1rem;
  margin-bottom: 3rem;
  cursor: pointer;
  @include susy-breakpoint(40rem, $susy) {
      @include gallery(2);
    }
  @include susy-breakpoint(80rem, $susy) {
      @include gallery(1);
    }
}

.emoji-char {
  font-size: $emoji-font-size;
  float: left;
}

.emoji-name {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;
  float: right;
}

.emoji-copy {
  padding-top: $emoji-font-size - 1rem;
  text-align: center;
  color: gray;
}
