@import "susy";

$susy: (
  columns: 4,
  container: 80em,
  gutters: 1/2,
  output: isolate,
  global-box-sizing: border-box,
);

@include border-box-sizing;

html {
  overflow-y: scroll;
}

body {
  @include container;
}

header, main {
  max-width: 90vw;
  margin: auto;
}
