<div class="alerts">
  {{#each flashMessages.queue as |flash|}}
    {{#flash-message flash=flash as |component flash|}}
      {{{flash.message}}}
    {{/flash-message}}
  {{/each}}
</div>

<header class="header" {{action 'resetQuery'}}>
  {{#link-to 'search' (query-params query='null')}}
    <h1 class="header-title">Unicode Party <span class="header-balloon">🎈</span></h1>
    <h5 class="header-subtitle">The Unicode Emoji Search Engine</h5>
  {{/link-to}}
</header>

<main class="clearfix">
  {{outlet}}
</main>

<div class="clearfix"></div>

<footer>
  <p>Unicode Emoji characters work on Facebook, Twitter, Hangouts, Android, iOS, and a number of other platforms.</p>

  <h5>Made by <a href="http://truthful.technology/">Truthful Technology, LLC</a></h5>
  <h6>💖 All code available on <a href="https://github.com/TruthfulTechnology/unicode.party">GitHub</a> 💖</h6>
</footer>