$emoji-font-size: 6rem;

.emoji-tiles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2.0rem;
  @media (min-width: $medium-screen) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $large-screen) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.3rem;
  }
}

.emoji-tile {
  @include card(2);
  padding: 1rem;
  cursor: pointer;
  animation: showEmoji linear 0.1s;
  transition: all 0.1s ease-in-out;
  &:hover {
    @include card(3);
    .emoji-name {
      color: indigo;
    }
    .emoji-copy {
      color: midnightblue;
    }
  }
  display: grid;
  // That magic 1.32 multiplier seems to make the right max width
  grid-template-columns: $emoji-font-size*1.32 auto;
  grid-auto-columns: 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

.emoji-char {
  @extend .emoji-text;
  font-size: $emoji-font-size;
  grid-column: 1;
  grid-row: 1 / span 2;
  overflow: hidden;
  white-space: nowrap;
}

.emoji-name {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;
  text-align: right;
  grid-column: 2;
  grid-row: 1;
}

.emoji-copy {
  text-align: right;
  color: gray;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.emoji-tile {
  &::selection, *:not(.emoji-char)::selection {
    background: transparent;
  }
}

@keyframes showEmoji {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
