$medium-screen: 50em;
$large-screen: 80em;

html {
  overflow-y: scroll;
  box-sizing: border-box;
}

header, main, footer {
  max-width: 90vw;
  width: $medium-screen;
  @media (min-width: $medium-screen) {
    width: $large-screen;
  }
  margin: auto;
}

footer {
  margin-top: 4em;
  text-align: center;
}
