// Based on http://codepen.io/mildrenben/pen/gbddEj

label {
  display: block;
  padding-top: 3rem;
  margin-top: -3rem;
}

input {
  width: 20rem;
  color: darken(teal, 20%);
  margin-bottom: 3rem;
  padding: 1rem 0;
  border: none {
    bottom: solid 1px teal;
  }
  background: {
    image: linear-gradient(to bottom, rgba(255,255,255,0) 96%, teal);
    size: 0 100%;
    repeat: no-repeat;
  }
  transition: background 0.3s cubic-bezier(.64,.09,.08,1);
  &:focus {
    outline: 1px dotted teal;
  }
  &:focus, &.active {
    background-size: 100% 100%;
    &::placeholder {
      color: teal;
      transform: translateY(-2rem);
      visibility: visible !important;
    }
  }
  &::placeholder {
    transition: all 0.3s ease-in-out;
  }
}
