@use "sass:math";
// The <label> + <input> group has two main effects:

// 1) An animated bottom border (implemented with a gradient background image) that appears on focus.
//    This effect was inspired by https://codepen.io/mildrenben/pen/gbddEj
// 2) A "material" effect where the label is positioned visually inside its corresponding input
//    but moves above it when the input is focused (and stays there as long as the input has a value).
//    This effect is achieved using the `+` sibling selector which means that the <label> tag MUST
//    be inserted right after its <input> in the HTML.

form[role="search"] {
  display: flex;
  height: 3rem;
  margin-bottom: 3rem;

  // The gap matches the .emoji-tiles grid-gap
  gap: 2rem;
  @media (min-width: $large-screen) {
    gap: 2.3rem;
  }

  :first-child {
    // On small screens, the search input takes the whole remaining space
    // On medium screens, the input spans 1 emoji tile (out of two per row)
    // On large screens it spans 2 tiles (out of four per row)
    flex: 1 1;
    @media (min-width: $medium-screen) {
      flex: 0;
      flex-basis: calc(50% - 1rem);
    }
    @media (min-width: $large-screen) {
      flex-basis: calc(50% - 1.15rem);
    }

    input {
      box-sizing: border-box;
      width: 100%;
    }
  }

  label[for="skintone"] {
    // workaround for the issue where you need to click twice to open the skintone dropdown
    // (once to focus the <select> and let the label move up out of the way, once to actually
    //  open the dropdown)
    pointer-events: none;
  }

  .form-element {
    position: relative;

    label {
      transition: top .3s ease-in-out;
      color: gray;
      position: absolute;
      top: 50%;
      left: .5rem;
      transform: translateY(-50%);
      padding: 0 .5rem;
      background-color: #fff;
      cursor: text;
    }

    input, select {
      transition: background 0.3s cubic-bezier(.64,.09,.08,1);
      color: darken(teal, 20%);
      background: unset;
      padding: 1rem;
      border: none {
        bottom: solid 1px teal;
      }
      background: {
        image: linear-gradient(to bottom, rgba(255,255,255,0) 96%, teal);
        size: 0 100%;
        repeat: no-repeat;
      }

      &:focus {
        outline: 1px dotted teal;
      }
      &:focus, &.active {
        background-size: 100% 100%;

        & + label {
          top: 0;
          color: teal;
        }
      }
    }
  }
}
